In [1]:
a=10
b=20
c=a+b
print(c)

30

<b>This becomes non-executable shell</b>
>List is a sequence of objects

In [3]:
print("Hello")

Hello

In [8]:
#Take input from user and seperate it using comma
#APPROACH-1

list = []
data = input("Enter input").split(" ")
print(type(data))
print (data)
for val in data:
    list.append(int(val))
print(list)

Enter input 12 34 56 78 90 45

<class 'list'>
['12', '34', '56', '78', '90', '45']
[12, 34, 56, 78, 90, 45]

In [10]:
#APPROACH-2
l1 = [int(val) for val in input().split(" ")]
print(l1)

 12 34 56 78 90 45

[12, 34, 56, 78, 90, 45]

In [30]:
studentId= []
studentInfo ={}
studentNum = int(input("Enter number of students:"))
for i in range(1,studentNum+1):
    data= input("Enter studentId:")
    studentId.append(int(data))
print(studentId)
for i in studentId:
    data = input("Enter  user detail").split(",")
    studentInfo[i] = tuple(data)
    
print(studentInfo)

Enter number of students: 3
Enter studentId: 26111
Enter studentId: 26152
Enter studentId: 26141

[26111, 26152, 26141]

Enter  user detail Mudita Jain, CSE, 20
Enter  user detail Richa Bharti, CSE, 20
Enter  user detail Pritidarshani Biswal, CSE, 19

{26111: ('Mudita Jain', ' CSE', ' 20'), 26152: ('Richa Bharti', ' CSE', ' 20'), 26141: ('Pritidarshani Biswal', ' CSE', ' 19')}

In [31]:
#Search Operation
enterId = int(input("Enter you id:"))
studentInfo.get(enterId)

Enter you id: 26152

('Richa Bharti', ' CSE', ' 20')

In [34]:
#Delete Operation
delId = int(input("Enter you id:"))
if delId in studentId:
    studentInfo.pop(delId)
    print(studentInfo)
else:
    print("Student not available")

Enter you id: 26111

{26152: ('Richa Bharti', ' CSE', ' 20'), 26141: ('Pritidarshani Biswal', ' CSE', ' 19')}

In [ ]:
#Update student records
id= int(input("Enter student id:"))
for i in range(0, len(studentId)):
    if id == studentId[i]:
        newData= input("Enter new records:").split(" ")
        newRecord= tuple(newData)
        studentInfo[id]=newRecord
    else:
        print("NO SUCH STUDENT")
        break

In [ ]:
#Search on basis of branch
branch = input("Enter branch for search")
for i in studentInfo.values():
    if i[1] == branch:
        print(i)
    else:
        print("Branch do not exist")

In [ ]:
#Display All Student
print("\nName    \t Branch    \t Age")
for i in studentInfo.values():
    print("{}    \t {}    \t {} \t".format(i[0], i[1], i[2]))